@import url('https://fonts.googleapis.com/css?family=Roboto');

.RatingBoardContainer {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.RatingBoardContainer > div {
    padding-top: 1em;
    padding-bottom: 1em;
}

.RatingBoardContainer__Header {
    margin-bottom: 1.5em;
    font-size: 1.25em;
    text-align: center;
}